<div id="projects" class="container projectsContainer">


  <div class="">
    <h2><span>Proyectos</span></h2>

    <h6 class="text-center my-5">Sumérjase en proyectos de un <span>variedad de lenguajes</span> - desde <span>PHP</span> a JavaScript <br>Aplicaciones hechas en frameworks de desarrollo tales como: <span>Angular</span> Ract, React Native, Laravel de PHP </h6>

  </div>




  <div class="row">
    <div class="col-md-4 ">
      <h4><span>Delyapp - Proyecto de título</span></h4>
  
      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="200" class="card cardSafway">
        <div class="imgBx">
          <div class="safway-box text-center">
            <img id="safariway" src="assets/images/delyapp.png">
          </div>
        </div>
        <div class="details">
          <!-- <h4>Gitsearch WebApp</h4> -->
          <p>Proyecto de título Ciisa 2021 - Software de compra, venta e inventario (aplicado a local de comida rápida), con manipulación en los ingredientes, mermas y gastos fijos. Parámetros para un precio sugerido, Incluye venta y pago online o presencial más despacho a domicilio (delivery) o retiro en local.
            </p>
            <button class="btn action-btn btn-sm" name="button">
              <a href="https://delyapp.cl/" target="_blank">
                Sitio en producción
              </a>
            </button>
  
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <h4><span>Impresos Rubio</span></h4>

      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="100" class="card cardKejua">
        <div class="imgBx text-center">
          <img id="art" src="assets/images/ir.png">
        </div>
        <div class="details">
          <!-- <h4>Gitsearch WebApp</h4> -->
          <p>
            Imprenta Fundada en 1988 Página Web con PHP puro. Landing Page.
          </p>


          <button class="btn action-btn btn-sm" name="button">
            <a href="https://impresosrubio.cl/" target="_blank">
              Sitio en producción
            </a>
          </button>

        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <h4><span>Colegio - SGDLS</span></h4>

      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="150" class="card cardMulika">
        <div class="imgBx">

          <img id="art" src="assets/images/sgdls.png">
        </div>
        <div class="details">
          <!-- <h4>Gitsearch WebApp</h4> -->
          <p>Software del colegio San Greorio De La Salle lanzado en 2021 que reune aspectos de soporte técnico, acceso de inventario de recursos tecnológicos, entre otras desarrollados en distintos sabores tecnológicos.</p>

          <button class="btn action-btn btn-sm" name="button">
            <a href="https://sgdls.cl/" target="_blank">
              Sitio en producción
            </a>
          </button>

        </div>
      </div>
    </div>

  </div>



  <br>
  <br>
  <br>


  <h6 class="text-center my-5">Se Siente <span>intrigado</span> por ver otros proyectos? <br><br> Bueno , puede visitar <span id="myGithub"><a href="https://github.com/nicopage88" target="_blank">mi github</a></span> en <span>Proyectos</span> que he realizado desde el año 2017
  </h6>
</div>
